/mooc-java-programming-i/part03-Part03_20.SumOfArray/target/
/mooc-java-programming-i/part03-Part03_21.PrintNeatly/target/
/mooc-java-programming-i/part03-Part03_22.PrintInStars/target/
/mooc-java-programming-i/part03-Part03_23.PrintThrice/target/
/mooc-java-programming-i/part03-Part03_24.IsItTrue/target/
/mooc-java-programming-i/part03-Part03_25.Login/target/
/mooc-java-programming-i/part03-Part03_26.LineByLine/target/
/mooc-java-programming-i/part03-Part03_27.AVClub/target/
/mooc-java-programming-i/part03-Part03_28.FirstWords/target/
/mooc-java-programming-i/part03-Part03_30.AgeOfTheOldest/target/
/mooc-java-programming-i/part03-Part03_31.NameOfTheOldest/target/
/mooc-java-programming-i/part03-Part03_32.PersonalDetails/target/
